# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# sqlite Databases
*.sqlite3

# Backend Django
backend/.pytest_cache
backend/coverage
backend/djangongboilerplate/settings_local.py

# Frontend Angular
frontend/.sass-cache
frontend/coverage
frontend/dist
frontend/dev-proxy.conf.js
frontend/e2e/*.js
frontend/e2e/*.map
frontend/node_modules
frontend/npm-debug.log
frontend/out-tsc
frontend/src/environments/environment.ts
frontend/src/environments/environment.prod.ts
frontend/typings
frontend/yarn-error.log

# Runtime
staticfiles/
