[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"django-nose" = "*"
nose = "*"
selenium = "*"
"django-cors-headers" = "*"


[packages]

"dj-database-url" = "==0.4.2"
django = "==2.0.0"
djangorestframework = "==3.7.3"
"djangorestframework-jwt" = "==1.11.0"
pytz = "==2017.2"
raven = "==6.4.0"
# "contextlib2" required to workaround an issue Pipfile.lock issue with raven dependencies
"contextlib2" = "*"
